<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <!-- <ul>
        {% for task in tasks %}
        <li>{{ task.name }} - {{ task.priority }} - {{ task.status }}</li>
        {% endfor %}       
    </ul> -->
    <ul>
        {% for task in tasks %}
        <li id="task_{{ task.id }}">{{ task.name }} - {{ task.priority }} - {{ task.status }} 
            <a href="{% url 'edit_task' pk=task.pk %}">Edit</a>
            <a href="{% url 'delete_task' pk=task.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>    
    <a href="{% url 'create_task' %}">Create Task</a>
</body>
</html>
